*{
    box-sizing: border-box;
}


body{
    background: #352f5b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
header{
    text-align: center;
    margin-right: 4px;
    color: #f4f4f4;
}
 h1{
    text-align: center;
    margin-bottom: 4px;
    color: #f4f4f4;
}
  .container{
    max-width: 400px;
    margin-left: 400px;
  
}

  ul{
      list-style: none;
      padding: 0;
      margin: 0;
      margin-left: auto;
      color: #f4f4f4;
  }

  ul li{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #352f5b;
      margin-top: -1px;
      padding: 12px;
      background: #423a6f;
  }
  input[type=text],
  input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
    margin-top: 10px;
    width: 100%;
    padding: 0.8rem;
    border-radius: 5px;
    
  }
  .add{
    text-align: center;
    margin-right: 4px;
    color: #f4f4f4;
    padding: 10px 10px;
  }
  .delete{
    cursor: pointer;
  }
  .filtered{
    display: none !important;
  }

  @media screen and (max-width: 1200px){
    .container{
      margin-left: 200px;
    }
    
  }
  @media screen and (max-width: 768px){
    .container{
      margin-left: 0px;
    }
    
  }